@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";
body {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  background-image: url("/src/assets/images/body-bg.jpg");
}

html {
  font-size: 62.5%;
}
